*{
	padding: 0;
	margin: 0;
}
body{
	background: #555;
}

.wrapper{
	width: 50%;
	margin: 50px auto ;
}
.radio input,
.checkbox input,
.slide input,
.switch input,
.switch-slide input{
	visibility: hidden;
	display: none;
}


/*START STYLE RADIO BUTTON*/
.radio{
	width: 36px;
	height: 36px;
	margin: 20px auto;
	background: #d0e4f7;
	background: -moz-linear-gradient(top,  #d0e4f7 0%, #0a77d5 98%, #73b1e7 100%, #539fe1 100%, #87bcea 100%);
	background: -webkit-linear-gradient(top,  #d0e4f7 0%,#0a77d5 98%,#73b1e7 100%,#539fe1 100%,#87bcea 100%);
	background: linear-gradient(to bottom,  #d0e4f7 0%,#0a77d5 98%,#73b1e7 100%,#539fe1 100%,#87bcea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 );
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0, .5), 0px 2px 3px rgba(0,0,0, .5);
	-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0, .5), 0px 2px 3px rgba(0,0,0, .5);
	box-shadow: inset 0px 0px 3px rgba(0,0,0, .5), 0px 2px 3px rgba(0,0,0, .5);
}
.radio label{
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	overflow: hidden;
	background: #444;
	cursor: pointer;
}
.radio label:before{
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	overflow: hidden;
	background: orange;
	opacity: 0;

}
.radio label:hover::before{
	opacity: .3;
	-webkit-transition:all .3s linear;
	-o-transition:all .3s linear;
	transition:all .3s linear;
}
.radio input:checked + label::after{
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	overflow: hidden;
	background: orange;
	opacity: 1;	
	-webkit-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
}
/*END STYLE RADIO BUTTON*/

/*START BUTTON CHECKBOX*/
.checkbox{
	width: 36px;
	height: 36px;
	margin: 20px auto;
	background: rgb(171,237,18);
	background: -moz-linear-gradient(top,  rgba(171,237,18,1) 0%, rgba(41,154,11,1) 97%);
	background: -webkit-linear-gradient(top,  rgba(171,237,18,1) 0%,rgba(41,154,11,1) 97%);
	background: linear-gradient(to bottom,  rgba(171,237,18,1) 0%,rgba(41,154,11,1) 97%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abed12', endColorstr='#299a0b',GradientType=0 );
	overflow: hidden;
	border-radius: 4px;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 3px rgba(155,155,155, .75), 0px 0px 3px rgba(155,155,155, .75);
	-moz-box-shadow: inset 0px 0px 3px rgba(155,155,155, .75), 0px 0px 3px rgba(155,155,155, .75);
	box-shadow: inset 0px 0px 3px rgba(155,155,155, .75), 0px 0px 3px rgba(155,155,155, .75);
}
.checkbox label{
	display: block;
	width: 28px;
	height: 28px;
	background: #7e7e7e;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 3px;
	-webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
}
.checkbox label:after{
	visibility: hidden;
	opacity: 0;
	content: '\2713';
   display: block;
   color: brown;
   text-align: center;
   font: bold 29px/29px sans-serif;
   text-shadow: 0px 1px 1px #fff;
   cursor: pointer;
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
}
.checkbox label:hover:after{
	opacity: .3;
	visibility: visible;
   cursor: pointer;
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
}
.checkbox input:checked + label:before{
	content: '\2713';
   display: block;
   color: brown;
   text-align: center;
   font: bold 29px/29px sans-serif;
   opacity: 1;
   text-shadow: 0px 1px 1px #fff;
   cursor: pointer;
}

.slide{
	width: 120px;
	height: 24px;
	margin: 0 auto;
	background: #333;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
   border-radius: 11px;
	-webkit-border-radius: 11px;
	-ms-border-radius: 11px;
   position: relative;
}
.slide:before{
	content: "ON";
	font: bold 18px Arial, sans-serif;
	color: green;
	position: absolute;
	top: 2px;
	left: 10px;
}
.slide:after{
	content: "OFF";
	font: bold 18px Arial, sans-serif;
	color: red;
	position: absolute;
	top: 2px;
	right: 8px;
}
.slide label{
	display: block;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	background: linear-gradient(#555, #cecece);
	width: 39px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: 4px;
	z-index: 1;
	-webkit-transition:  .4s ease;
	-o-transition:  .4s ease;
	-ms-transition:  .4s ease;
	transition:  .4s ease;
	-webkit-box-shadow: inset 0px 2px 2px rgba(111,111,111, .5), 0px 1px 0px rgba(255,255,255, .2);
	box-shadow: inset 0px 2px 2px rgba(111,111,111, .5), 0px 1px 0px rgba(255,255,255, .2);
	cursor: pointer;
}
.slide input:checked + label{
	left: 77px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.switch{
	display: block;
	width: 120px;
	height: 30px;
	margin: 20px auto;
	border-radius: 20px;
	position: relative;
	overflow:  hidden;
	background: -webkit-linear-gradient(#cccccc, #fff);
	background: -o-linear-gradient(#cccccc, #fff);
	background: linear-gradient(#cccccc, #fff);
	-webkit-box-shadow: inset 0 -1px #fff, inset 0 1px 1px rgba(0,0,0, 0.05);
	box-shadow: inset 0 -1px #fff, inset 0 1px 1px rgba(0,0,0, 0.05);
	border: 1px solid #c3c3c3;
}
.switch, .button-switch{
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.switch input{position:  absolute;}
.button-switch{
	position: relative;
	display: block;	
	font-size: 12px;
	text-transform: uppercase;
	background: red;
	height: 	inherit;
}
.button-switch:before, .button-switch:after{
	display: block;
	position: absolute;
	top: 30%;
	color: #fff;
	text-shadow: 0px 1px 1px grey;
}
.button-switch:before{
	content: attr(data-off);
	right: 11px;
}
.button-switch:after{
	content: attr(data-on);
	left: 11px;
}
.label-handler{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
   background-image: linear-gradient(#FFFFFF 40%, #f0f0f0);
	border-radius: 50%;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
	box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
	-webkit-transition: left .2s ease;
	-o-transition: left .2s ease;
	transition: left .2s ease;
}
.label-handler:before{
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px ;
	width: 12px;
	height: 12px;
	background: red;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 1px  rgba(0,0,0, 0.2);
	box-shadow: inset 0 1px rgba(0,0,0, 0.2);
}
.switch_Input:checked ~ .button-switch{background: green;}
.switch_Input:checked ~ .button-switch:before{ opacity: 0;}
.switch_Input:checked ~ .label-handler{
	left: 90px;
 	-webkit-transition: left .2s ease;
	-o-transition: left .2s ease;
	transition: left .2s ease;
}
.switch_Input:checked ~ .label-handler:before{background: green;}

.switch-slide{
	display: block;
	width: 120px;
	height: 40px;
	margin: 20px auto;
	overflow: hidden;
	border: 1px solid #fff;
}
.switch-slide .label{
	position: relative;
}
.label:before, .label:after{
	position: absolute;
	width: 120px;
	height: 40px;
	top: 0px;
	-webkit-box-shadow: inset 0px 0px 13px #333;
	box-shadow: inset 0px 0px 13px #333;
	color: #cecece;
	text-shadow: 1px 1px 0px #fff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	-webkit-transition: left .3s linear;
	-o-transition: left .3s linear;
	transition: left .3s linear;
}
.label:before{
	left: 0;
	text-align: center;
	background: red;
	content: attr(data-off);
}
.switch_Input:checked ~ .label:before,.label:after{
	-webkit-transition: left .3s linear;
	-o-transition: left .3s linear;
	transition: left .3s linear;
}
.switch_Input:checked ~ .label:before{
	left: -120px;
}
.label:after{
	left: 120px;
	content: attr(data-on);
	background: green;
}
.switch_Input:checked ~ .label:after{
	left: 0;
}

/*type range*/

.range{
	width: 180px;
	margin: 0 auto;
}
.range input[type=range]{
		width: 180px;
	border: 1px solid #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.range input[type=range]:focus{
	outline: none;
}
.range input[type=range]::-webkit-slider-thumb{
	background: green;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	padding: 5px 12px;
}